//--------------------------------------
// Screen Stylesheet
//--------------------------------------

// Common
// -------------------------------------

// Notes...

@import "common/mixins";

// Notes...

@import "common/variables";

// Notes...

@import "common/miscellaneous";

// Enfold
// -------------------------------------

// Notes...

@import "enfold/grid";

// Notes...

@import "enfold/base";

// Notes...

@import "enfold/layout";

// Notes...

@import "enfold/shortcodes";

// Notes...

@import "enfold/dynamic";

// Layouts
// -------------------------------------

// Notes...

@import "layouts/mobile-navigation";

// Notes...

@import "layouts/header";

// Notes...

@import "layouts/content";

// Notes...

@import "layouts/footer";





/*Add your own styles here:*/

.av-masonry-date { display: none; }
.post-meta-infos  { display: none; }
.blog-categories { display: none; }
.av-magazine-time { display: none; }
.news-time { display: none!important; }
.slide-meta-comments  { display: none!important; }
.slide-meta-del  { display: none!important; }
.slide-meta { display: none!important; }

