//--------------------------------------
// Screen Stylesheet
//--------------------------------------

// Common
// -------------------------------------

// Notes...

// @import "common/normalize";

// Notes...

// @import "common/mixins";

// Notes...

// @import "common/variables";

// Notes...

// @import "common/fonts";

// Notes...

// @import "common/baseline";

// Notes...

// @import "common/miscellaneous";

// Components
// -------------------------------------

// Notes...

// @import "components/button";

// Layouts
// -------------------------------------

// Notes...

// @import "layouts/header";

// Notes...

// @import "layouts/content";

// Notes...

// @import "layouts/pre-footer";

// Notes...

// @import "layouts/footer";


@import "enfold/grid";
@import "enfold/base";
@import "enfold/layout";
@import "enfold/shortcodes";

// style
// custom
// grid
// base
// layout
// shortcodes
// print
// rtl


/*Add your own styles here:*/

.av-masonry-date { display: none; }
.post-meta-infos  { display: none; }
.blog-categories { display: none; }
.av-magazine-time { display: none; }
.news-time { display: none!important; }
.slide-meta-comments  { display: none!important; }
.slide-meta-del  { display: none!important; }
.slide-meta { display: none!important; }

