/*--------------------------------------
   Content
--------------------------------------*/

// Notes...

#main {}

	// Section

	.title_container {

		// background: $light-gray;

		.container {

			min-height: 0 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;

		}

			.main-title {

				padding: 1.428571429em 0 0.714285714em 0; // 40px 0 20px 0
				@include font-size(20);
				line-height: 1.357142857;
				border-bottom: 2px solid $gray;

				@include desktop {

					@include font-size(28);

				}

			}

				a {

					color: $gold !important;

					&:hover {}

				}

	}

	// Everything else
