/*--------------------------------------
   Content
--------------------------------------*/

// Notes...

#main {}

	// Section

	.title_container {

		// background: $light-gray;

		.container {

			min-height: 0 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;

		}

			.main-title {

				padding: 1.428571429em 0 0.714285714em 0; // 40px 0 20px 0
				@include font-size(20);
				line-height: 1.357142857;
				border-bottom: 2px solid $gray;

				@include desktop {

					@include font-size(28);

				}

			}

				a {

					color: $gold !important;

					&:hover {}

				}

	}

	// Everything else

	// Layerslider

	.avia-layerslider {

		height: 300px !important;

		@include desktop {

			height: 400px !important;

		}

		.ls-wp-container {

			width: 100% !important;
			height: 100% !important;

		}

			.ls-inner {}

				.ls-slide-transition-wrapper {

					width: 100% !important;
					height: 100% !important;

					.ls-curtiles {

						.ls-slide-transition-tile {

							width: 100% !important;
							height: 100% !important;

						}

							.ls-curtile {}

								img {

									position: absolute;
									left: 50%;
									width: auto !important;
									height: 300px !important;
									transform: translate(-50%, 0) !important;

									@include desktop {

										height: 400px !important;

									}

								}

					}

					.ls-nexttiles {

						.ls-slide-transition-tile {

							width: 100% !important;
							height: 100% !important;

						}

							.ls-nexttile {}

								img {

									position: absolute;
									left: 50%;
									width: auto !important;
									height: 300px !important;
									transform: translate(-50%, 0) !important;

									@include desktop {

										height: 400px !important;

									}

								}

					}

				}

				.ls-background-videos {}

				.ls-slide-backgrounds {

					.ls-z {

						width: 100% !important;
						height: 100% !important;

					}

						.ls-bg-outer {

							width: 100% !important;
							height: 100% !important;

						}

							.ls-bg-wrap {}

								img {

									position: absolute;
									left: 50%;
									width: auto !important;
									height: 300px !important;
									transform: translate(-50%, 0) !important;

									@include desktop {

										height: 400px !important;

									}

								}

				}

				.ls-layers {

					.ls-z {

						// position: relative !important;
						width: 100% !important;
						// max-width: 1130px !important;
						height: 100% !important;
						// margin: 0 auto !important;
						// padding: 0 7.5% !important;
						// box-sizing: border-box !important;

						@include desktop {

							// padding: 0 50px !important;

						}

					}

						.ls-in-out {

							position: relative !important;
							width: 100% !important;
							max-width: 1130px !important;
							height: 100% !important;
							left: 0 !important;
							top: 0 !important;
							margin: 0 auto !important;
							padding: 0 7.5% !important;
							box-sizing: border-box !important;

							@include desktop {

								padding: 0 50px !important;

							}

						}

							.ls-layer {

								position: absolute !important;
								left: 7.5% !important;
								top: auto !important;
								bottom: 20px;
								width: auto !important;
								padding: 3px 10px 5px 10px !important;
								font-size: 14px !important;
								line-height: 1.714285714 !important;
								font-style: italic !important;
								color: $black;
								background: rgba($white, 0.90);

								@include desktop {

									left: 50px !important;

								}

							}

				}

	}

	// Primary Content

		// People

		.avia-team-member {

			.team-img-container {

				border-radius: 0;

				img {

					border-radius: 0;

				}

			}

			.team-member-name {

				margin: 0;
				@include font-size(20);
				line-height: 1.5;
				font-family: "Open Sans";
				font-weight: bold;

				center {}

			}

			.team-member-job-title {

				margin-top: 0;
				color: $dark-gray;

				center {}

			}

			.team-member-affiliation {}

		}

		// Tomas Ryan

		// Media

		// Public Communications

		// Funding

		.page-id-22 {

			.avia-logo-element-container {

				.avia-smallarrow-slider-heading {

					display: none !important;

				}

				.avia-content-slider-inner {

					overflow: visible !important;

					.slide-entry-wrap {

						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

					}

						.slide-entry {

							width: calc(50% - 10px) !important;
							margin: 0 0 20px 0 !important;
							padding: 0 !important;

							@media screen and (min-width: 500px) {

								width: calc(33.333333333% - 30px) !important;

							}

						}

							a {

								border-radius: 0;

								&:hover {}

							}

								img {

									border-radius: 0;
									box-shadow: none !important;

								}

				}

			}

			.avia-tooltip {

				display: none !important;

			}

		}

		// Media, Public Communications, Papers

		.template-blog {

			@include group;

			article {

				margin: 0 0 50px 0;
				padding: 0 0 50px 0;
				border-bottom: 1px solid $gray;

				&:last-of-type {

					margin: 0;
					padding: 0;
					border: none;

				}

			}

				.blog-meta {

					a {

						margin: 0;
						border-radius: 0;

						&:hover {}

					}

						img {

							border-radius: 0;

						}

				}

				.entry-content-wrapper {}

					.entry-content-header {}

						.post-title {

							margin: 0;

							a {

								&:hover {

									color: $blue !important;

								}

							}

								.post-format-icon {}

						}

						.post-meta-infos {}

					.entry-content {

						color: $dark-gray;

						p {

							&:first-of-type {

								margin-top: 0;

							}

							&:last-of-type {

								margin-bottom: 0;

							}

						}

						.paper-author {

							margin: 15px 0 0 0;

							p {}

						}

						.paper-publication {

							margin: 15px 0 0 0;

							p {}

						}

						.paper-pdf {

							margin: 20px 0 0 0;

							a {

								display: inline-block;
								padding: 3px 10px;
								color: $white;
								background: $blue;
								text-decoration: none;

								&:hover {

									background: darken($blue, 5%);

								}

							}

						}

					}

					.entry-footer {}

					.post_delimiter {

						display: none;

					}

				.post_author_timeline {

					display: none;

				}

		}

		// Joining the Lab

		.avia-slideshow {}

		.tabcontainer {

			.tab_titles {

				border-bottom: 1px solid $gray;
				@include group;

				.tab {

					margin: 0 5px 0 0;
					border-color: $gray;
					border-radius: 0 !important;

					&:last-of-type {

						margin: 0;

					}

				}

				.active {}

			}

			.av_tab_section {}

				.tab_content {

					padding: 0;

				}

					.tab_inner_content {

						padding: 0;

					}

		}

		// Contact

		.avia_ajax_form {

			fieldset {}

				h3 {

					display: none;

				}

				p {}

					label {}

					input[type="text"] {

						font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
						border: 1px solid $gray !important;
						box-sizing: border-box;

					}

					textarea {

						font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
						border: 1px solid $gray !important;
						box-sizing: border-box;

					}

					.button {

						font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
						font-weight: bold;

						&:focus,
						&:hover {

							background: darken($blue, 5%) !important;

						}

					}

		}

	// Secondary Content

	.sidebar {

		@include mobile {

			display: block !important;
			padding-top: 0;

		}

		.inner_sidebar {

			margin: 0;
			padding: 30px;
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
			border-bottom: 1px solid $gray;

		}

			.widget {

				padding: 0;

			}

				.widgettitle {

					margin-top: 0;
					color: $gold;
					font-weight: normal;

				}

				.seperator {}

			.widget_text {

				.widgettitle {}

				.textwidget {

					@include font-size(14);
					line-height: 1.714285714;

					strong {}

				}

					.h-card {

						.affiliations {

							li {

								margin: 0 0 10px 0;

							}

						}

						.p-adr {

							margin: 0 0 10px 0;

						}

							.p-organization-name {

								font-weight: bold;

							}

							.p-street-address {}

							.p-locality {}

							.p-region {}

						.p-tel {

							.p-label {

								font-weight: bold;

							}

							a {

								&:hover {}

							}

						}

					}

				.seperator {}

			}

	}

	// Miscellaneous

	.av-special-heading {

		// background: pink;

		.av-special-heading-tag {

			@include font-size(20);
			// color: $blue;

		}

		.special-heading-border {}

			.special-heading-inner-border {

				border-color: $dark-gray;

			}

	}

	// Affiliations

	.home {

		.avia-logo-element-container {

			.avia-smallarrow-slider-heading {

				display: none !important;

			}

			.avia-content-slider-inner {

				overflow: visible !important;

				.slide-entry-wrap {

					@media screen and (min-width: 360px) {

						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

					}

				}

					.slide-entry {

						width: 100% !important;
						padding: 0 !important;

						@media screen and (min-width: 360px) {

							width: calc(50% - 10px) !important;

						}

						@include mobile {

							margin: 0 0 20px 0 !important;

						}

						@media screen and (min-width: 700px) {

							width: calc(25% - 10px) !important;

						}

					}

						a {

							border-radius: 0;

							&:hover {}

						}

							img {

								border-radius: 0;
								box-shadow: none !important;

							}

			}

		}

		.avia-tooltip {

			display: none !important;

		}

	}
