/*--------------------------------------
   Header
--------------------------------------*/

// Notes...

#header {

	@media screen and (max-width: 899px) {

		border-bottom: 1px solid $blue;

	}

}

	// Utility bar

	#header_meta {

		min-height: 0;
		margin: 0;
		background: $light-gray;

		.container {

			min-height: 0;

		}

			.sub_menu {

				position: static;
				padding: 0;

			}

				ul {

					float: none;

				}

					li {

						padding: 0;
						@include font-size(12);
						line-height: 1.833333333;
						// text-transform: uppercase;
						border: none;

						@include mobile {

							padding: 0 !important;

						}

					}

						a {

							display: block;
							max-width: none;
							height: 30px;
							padding: 4px 10px 0 10px;
							font-weight: normal;
							text-decoration: none;
							color: $dark-gray;

							&:hover {

								color: $blue !important;

							}

						}

					// Active page

					.current-menu-item {

						a {

							color: $blue;
							border-bottom: 2px solid $blue;

							&:hover {}

						}

					}

	}

	// Main header content

	#header_main {

		// Logo

		.av-logo-container {

			.inner-container {

				position: relative;
				height: 100px;

				@media screen and (min-width: 460px) {

					height: 140px;

				}

			}

				.logo {

					position: absolute;
					left: -5px;
					top: 50%;
					margin: -30px 0 0 0;
					z-index: 1;

					@media screen and (min-width: 460px) {

						left: -10px;
						margin: -50px 0 0 0;

					}

					a {

						display: block;
						width: 198px;
						height: 60px;
						background: url(assets/img/logo.svg);
						background-size: 198px 60px;

						@media screen and (min-width: 460px) {

							width: 330px;
							height: 100px;
							background-size: 330px 100px;

						}

						&:hover {}

					}

						img {

							display: none;

						}

				}

				#advanced_menu_toggle {

					width: 40px;
					height: 40px;
					margin: -20px 0 0 0;
					line-height: 40px;
					color: $white;
					background: $blue;
					border: none;
					border-radius: 0;

					@media screen and (max-width: 899px) {

						display: block;

					}

					&:hover {}

				}

		}

		// Primary Navigation

		#header_main_alternate {

			background: $blue;
			overflow: hidden;

			@media screen and (max-width: 899px) {

				display: none;

			}

			.container {}

				.main_menu {}

					.av-main-nav-wrap {}

						ul {

							// position: relative;
							// left: -20px;
							width: 100%;
							height: auto;
							background: $blue;
							box-shadow: 0 35px 35px darken($blue, 20%);
							@include group;

						}

							li {

								@include font-size(14);
								line-height: 1.714285714;
								text-align: center;

								&:last-of-type {

									border: none;

								}

							}

								a {

									height: 50px;
									padding: 13px 20px 0 20px;
									font-size: inherit;
									line-height: inherit;
									color: $white;

									&:hover {

										background: darken($blue, 3%);

									}

								}

									.avia-bullet {

										display: none;

									}

									.avia-menu-text {}

									.avia-menu-fx {

										display: none;

									}

										.avia-arrow-wrap {}

											.avia-arrow {}

							// Active page

							.current-menu-item {

								a {

									background: darken($blue, 5%);

									&:hover {}

								}

							}

		}

	}

	// Ryan Lab

	.ryan-lab {

		@media screen and (max-width: 899px) {

			display: none;

		}

		.container {}

			.inner-container {}

				.ryan-lab-title {

					position: absolute;
					top: -138px;
					right: 0;
					@include font-size(24);
					line-height: 1.416666667;
					font-family: "Merriweather";
					color: $dark-gray;
					z-index: 5;

				}

	}

	// Global Search

	.global-search {

		display: none;

		@media screen and (max-width: 899px) {

			display: none;

		}

		.container {}

			.inner-container {}

				form {

					position: absolute;
					top: -140px;
					right: 0;
					width: 100%;
					max-width: 300px;
					box-shadow: -1px 1px 3px rgba($black, 0.20);
					z-index: 5;

					div {}

				}

						.button {}

						#s {

							height: 40px;
							padding: 0 12px !important;
							// @include font-size(14);
							font-size: 14px !important;
							font-size: 1.4rem !important;
							line-height: 1.714285714 !important; // 24px, 24/14
							font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
							// background: $light-gray !important;

							&::placeholder {

								font-style: italic;
								color: lighten($black, 65%);

							}

						}

					.ajax_search_response {

						background: lighten($blue, 50%);

					}

						.ajax_search_entry {}

							.ajax_search_image {}

							.ajax_search_content {}

								.ajax_search_title {}

								.ajax_search_excerpt {}

	}

	// Header background

	.header_bg {

		display: none;

	}
