//--------------------------------------
// Variables
//--------------------------------------

// Notes...

// General
// -------------------------------------

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

// Grays
// -------------------------------------

// $gray: #696969;
// $gray: #494949;
// $gray: #dddddd;
// $gray: #494c4f;

// Branding
// -------------------------------------

// Notes...

$blue: #1b79b7;
$teal: #3bb8e8;
$gold: #b8ac82;
$slate: #434d51;
$light-gray: #efefef;
